<div class="add-product">
    <h1>ADD NEW MOVIE</h1>
    <p class ="message-p">{{addproductmessage}}</p>
    <form #addproduct = "ngForm" (ngSubmit)="submit(addproduct.value)" class = "common-form">
        <input type="text" class="form-input" placeholder="Enter Food name name" name="name" ngModel />
        <input type="text" class="form-input" placeholder="Enter price" name="price" ngModel />
        <input type="text" class="form-input" placeholder="Enter cuisine" name="genre" ngModel />
        <input type="text" class="form-input" placeholder="Enter offer in %" name="lang" ngModel />
        <input type="text" class="form-input" placeholder="Enter Hotel Name" name="stime" ngModel />
        <label class="texcol">STATUS</label>
       <mat-button-toggle-group name="status" aria-label="Font Style" ngModel>
        <mat-button-toggle value="true">Enable</mat-button-toggle>
        <mat-button-toggle value="false">Disable</mat-button-toggle>
      </mat-button-toggle-group><br>
        <textarea type="text" class="form-input" placeholder="Enter  description" name="desc" ngModel ></textarea>
        <input type="text" class="form-input" placeholder="Enter image url" name="img" ngModel />
        <button class="form-button">ADD ITEM</button>
    </form>
</div>
