<div class="row product-details" *ngIf="productdata">
    <div class="col-sm-6">
        <img class = "product-image" src="{{productdata.img}}" alt="">

    </div>
    <div class = "col-sm-6">
        <div class="details">
        <h1>{{productdata.name}}</h1>
        <h3>PRICE : {{productdata.price}}</h3>
        <h3>HOTEL: {{productdata.stime}}</h3>
        <h3>CUISINE : {{productdata.genre}}</h3>
        <h3>DESCRIPTION : {{productdata.desc}}</h3>
        <span class="flag-discount">{{productdata.lang}}% Off</span>
        <button class = "form-button" (click)="buynow()">ORDER NOW</button>
        <button *ngIf="!removecart" class = "form-button" (click)="addtocart()">ADD TO CART</button>
        <button *ngIf="removecart" class = "form-button" (click)="removefromcart(productdata.id)">REMOVE FROM CART</button>
        <div class="quantity-group">
            <button (click)="handleqty('min')">-</button>
            <input type="text" value = "{{prodquantity}}">
            <button (click)="handleqty('max')">+</button>
        </div>
        </div>
    </div>

</div>
