<ngb-carousel *ngIf="popularproducts">
	<ng-template *ngFor=" let item of popularproducts"  ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{item.id}}"><img class = "product-slider-img" src="{{item.img}}" alt="Random first slide" /></a>
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.desc}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
	<h1>MUST TRY DISHES</h1>
     <div class="row">
		<div class="col-sm-3" *ngFor="let item of trendyproducts">
			<div class="product-item">
				<a routerLink="/details/{{item.id}}"><img src="{{item.img}}"></a>
				<div class="product-details">
					<h3 class = "name-head"> <a routerLink="/details/{{item.id}}">{{item.name}}</a></h3>
					<div class="class-price">
						<h3>{{item.price}}</h3>
					</div>
					<div class="class-color">
						<h3>{{item.stime}}</h3>
						<span class="flag-discount">{{item.lang}}% Off</span>
					</div>
					
				</div>
				<div class="product-footer">
					<a routerLink="/details/{{item.id}}">view details</a>
					
				</div>
			</div>
		</div>
	 </div>
</div>
